.language_select {
  /* background-color: rebeccapurple; */
  width: 170px;
  margin-left: auto;
  margin-right: 30px;
  padding-top: 25px;
}

/* .main_header {
  position: fixed;
  top: 0;
  margin-top: 400px;
  width: 100%;
} */
