.tech_comp {
  background-color: #f8f9f9;
  box-shadow: 0 2px 5px 1px rgb(64 60 67 / 16%);
  padding: 20px;
  margin: 20px;
  display: flex;
  border-radius: 20px;
}
.tech_image {
  width: 200px;
  height: 200px;
  border-radius: 50%;
}
.tech_right {
  display: flex;
  flex-direction: column;
  margin: 20px;
  text-align: left;
}
.tech_title {
  font-size: 25px;
  font-weight: 600;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
.tech_des {
  /* font-size: 25px; */
  /* font-weight: 600; */
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  margin-top: 10px;
}
